button {
    width: fit-content;
    height: 25px;
    border-radius: 5px;
    border-color: black;
    background-color: rgb(152, 245, 180);
    margin: auto 20px auto 20px;
}

#container {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.toSolve {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.solution {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#gridSolution {
    display: grid;
    grid-template-columns: repeat(9, 2.5em);
    gap: 4px;
    margin: 1em auto;
    padding: 4px;

}

#noSolutionText {
    margin: auto;
    display: flex;            
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: 100;
}


#gridToSolve {
    display: grid;
    grid-template-columns: repeat(9, 2.5em);
    grid-template-rows: repeat(9, 2.5em);
    gap: 4px;
    margin: 1em auto;
    padding: 4px;


}


.cell {
 
    -webkit-appearance: none;
    appearance: none;
    padding: 2px;
    appearance: textfield;
    background-color: rgb(128, 128, 128);
    aspect-ratio: 1 / 1;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 2px;
    text-align: center;
    font-size: 1em;
}

.cell.subgrid {
    background-color: #dddddd;
}


.solutionCell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: rgb(80, 121, 80);
    aspect-ratio: 1 / 1;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 2px;
    text-align: center;
    font-size: 1em;

}


.solutionCell.subgrid {

    background-color: #afffa8;

}




.buttonContainer {
    display: flex;
}

